  @import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
  @import url('https://fonts.cdnfonts.com/css/open-sauce-one');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

  :root {
      --blue: #28415f;
      --brown: #3d3827;
  }

  body {
      margin: 0;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      background-color: var(--blue);
  }

  .language {
      position: fixed;
      z-index: 9999;
      font-family: 'Open Sauce One', sans-serif;
      font-size: 2rem;
      top: 0;
      color: white;
      margin: 2vh;
  }

  #header {
      background-color: var(--blue);
      z-index: 9;
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;


  }

  .logo-section {
      font-family: 'Jacques Francois', serif;
      color: white;
      display: flex;
      flex-direction: column;
      margin: 4vh;
  }

  .logo-img {
      display: flex;
      align-self: center;
      justify-content: center;
      width: 25vh;
      height: auto;
  }

  .title {
      display: flex;
      justify-content: center;
  }

  .group {
      font-size: 2em;
  }

  .de-la {
      align-self: center;

  }

  .description {
      align-self: center;
  }

  .lobby {
      background-image: url("/img/lobby.jpeg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      width: 100%;
      height: 100vh;
  }



  .marquee {
      display: flex;
      flex-direction: column;
      gap: 1vh;
      background: none;
      color: white;
      opacity: 0.6;
      position: relative;

      max-width: 100%;

  }

  .marquee-one {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      overflow: hidden;
  }

  .marquee-one span {
      font-family: 'Open Sauce One';
      text-transform: uppercase;
      font-weight: 700;
      font-size: 8em;
      white-space: nowrap;
      padding: 0 1rem;
      animation: marquee1 5000ms linear infinite;
      line-height: 79%;
  }

  @keyframes marquee1 {
      0% {
          transform: translateX(0);
      }

      50% {
          text-shadow: 0px 0px 15px white;
      }

      100% {
          transform: translateX(-100%);
          box
      }
  }

  .marquee-two {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      overflow: hidden;
  }

  .marquee-two span {
      font-family: 'Open Sauce One';
      font-weight: 700;
      font-size: 2em;
      white-space: nowrap;
      padding: 0 1rem;
      animation: marquee2 5000ms linear infinite;
      line-height: 5vh;
  }

  @keyframes marquee2 {
      0% {
          transform: translateX(-100%);
      }

      50% {
          text-shadow: 0 0 15px white;
      }

      100% {
          transform: translateX(0);
      }
  }

  .lobby-content {
      /* top: 100vh; */
      font-family: 'Open Sauce Two', sans-serif;
      color: white;
      position: relative;


      display: flex;
      flex-direction: column;
      background-color: #28415f;
      padding: 10vh 15vh;
      gap: 5vh;




  }


  .lobby-content h1 {
      font-size: 4rem;
      font-weight: 800;
      line-height: 1.3;
      margin: 0;
      text-shadow: 5px 5px #0f2e5a;
  }



  .lobby-content p {
      font-size: 1.8rem;
      font-family: 'Open Sauce One', serif;
      font-weight: 400;
      text-shadow: 2px 2px #0f2e5a;
  }

  .section-one {
      display: flex;
      gap: 10vh;
  }




  .section-two {
      display: flex
  }

  .text {
      display: flex;
      flex-direction: column;
      width: 50%;
      align-self: center;

  }

  .images {
      display: flex;
      flex-direction: column;
      gap: 4vh;
      width: 50%;
      align-self: center;
  }

  .images img {
      width: 100%;
      border-radius: 10px;
      border: 3px solid #0f2e5a;
      transition: 0.3s;
  }

  .booking-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1vh;
      background-color: #214e8d;
      padding: 2vh;
      border-radius: 20px;

  }

  .booking {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
  }

  .booking .rating {
      display: flex;
      flex-direction: column;


  }

  .booking .left {
      display: flex;
      align-items: center;
      gap: 1.5vh;

      width: 80%;



  }

  .booking .right {
      display: flex;
      flex-direction: column;
      border-left: 1px solid white;
      width: 50%;
      padding-left: 2vh;

  }

  .booking img {
      margin: 0;
      padding: 0;
      width: 30%;

  }

  .rating span:first-child {
      font-weight: 700;
      font-size: 1.5rem;

  }


  .button button {
      font-size: 1rem;
      font-family: 'Open Sauce One', sans-serif;
      font-weight: 500;
      width: 100%;
      background: #0D3B7C;
      color: inherit;
      border-radius: 0px 15px 15px 15px;
      padding: 2.5vh 2.5vh;
      border: none;
      cursor: pointer;
      border: 1px solid #0d3b7c;
      box-shadow: 2.5px 2.5px #0f2e5a;
      transition: 0.3s;

  }

  .button button:hover {
      box-shadow: 5px 5px #0f2e5a;
  }

  .button button:active {
      transform: translate(0, 2.5px);
      box-shadow: none;
      background-color: #0f2e5a;
  }




  a {
      text-decoration: none;
      color: white;
  }




  .images img:hover {
      box-shadow: 15px 15px #0f2e5a;
      transform: translate(-15px, -15px);


  }

  .section-two {
      display: flex;
      flex-direction: column;

  }

  .showcase {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2vh;

  }

  .square {
      width: 45vh;
      height: 35vh;
      background-color: aqua;
      border-radius: 20px;
      text-align: center;
      vertical-align: middle;
      line-height: 35vh;
      font-size: 1.75rem;
      font-weight: 800;
      text-shadow: 0px 0px 10px black;
      border: 5px solid #0f2e5a;


  }

  .tlaxcala {
      background-image: url("/img/estados/tlaxcala.jpeg");
      background-size: cover;
  }

  .tabasco {
      background-image: url("/img/estados/tabasco.jpeg");
      background-size: cover;
  }

  .hidalgo {
      background-image: url("/img/estados/hidalgo.jpeg");
      background-size: cover;
  }

  .puebla {
      background-image: url("/img/estados/puebla.jpeg");
      background-size: cover;
  }

  .michoacan {
      background-image: url("/img/estados/michoacan.jpeg");
      background-size: cover;
  }

  .oaxaca {
      background-image: url("/img/estados/oaxaca.jpeg");
      background-size: cover;
  }

  .chiapas {
      background-image: url("/img/estados/chiapas.jpeg");
      background-size: cover;
  }

  .sanluispotosi {
      background-image: url("/img/estados/sanluispotosi.jpeg");
      background-size: cover;
  }



  .prefooter {
      position: relative;
      width: 100%;
      height: 100vh;
      background-image: url("/img/kiosko.jpeg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
  }



  .prefooter span {
      font-family: 'Open Sauce One';
      font-weight: 800;
      font-size: 4rem;
      color: white;
      text-shadow: 0 0 10px black;
      line-height: 100vh;

  }

  .footer {
      display: flex;
      color: var(--blue);
      height: 40vh;
      align-items: center;
      justify-content: center;
      font-family: 'Open Sauce One', sans-serif;
      font-size: 1.2rem;


  }

  .footer-logo {
      width: 30vh;
      height: 30vh;
  }



  .footer a:hover {
      border-bottom: white solid 1px;
  }

  @media screen and (max-width:1200px) {

      .lobby-content {
          padding: 10vh 10vh;
      }

      .section-one {
          flex-direction: column;
      }

      .text {
          width: auto;
      }

      .images {
          width: auto;
      }

      .prefooter span {
          font-size: 1.5em;
      }
  }